<nav class="nav">
  <ul class="nav-list">
    <li class="nav-item"><a href="#" class="nav-link">Mujer</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Hombre</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Niños</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Zapatos</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Accesorios</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Bolsos</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Belleza</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Hogar</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Deportes</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Outlet</a></li>
  </ul>
</nav>
